@import "variables.scss";

.header-wrapper {
  position: fixed;
  width: calc(100% - 10rem);
  max-width: 1700px;
  background-color: $headerWrapper;
  z-index: 1;
  .header {
    z-index: 1;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 100px;
    background-color: $headerBackground;
    display: flex;
    grid-column-start: 3;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    .org-logo {
      font-size: 35px;
      font-weight: 600;
      letter-spacing: 5px;
      color: #009f82;
      text-shadow: 2px 2px white;
      text-transform: uppercase;
    }

    .org-logo-subtitle {
      width: 100%;
      font-size: 22px;
      text-align: center;
      letter-spacing: 2px;
      color: white;
      font-weight: 500;
    }
    .user-settings {
      position: absolute;
      right: 0;
      display: flex;
      padding-right: 30px;
      .user {
        display: flex;
        align-items: center;

        .user-logo {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          padding: 0px 20px;
        }
        .user-name {
          font-size: 15px;
          color: $headerUserName;
          font-weight: bold;
        }
      }
      .shopping-cart {
        height: 30px;
        padding-right: 35px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
