@import "variables.scss";

.sidebar-wrapper {
  width: 12rem;
  text-align: center;
  color: $sidebarEntry;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  position: fixed;
  .sidebar-title {
    font-size: 26px;
    padding-bottom: 1rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: bold;
    color: $sidebarEntry;
    text-transform: uppercase;
  }
  .sidebar-entry {
    padding: 1rem;
    margin-bottom: 50px;
    border: 2px solid $sidebarEntry;
    border-radius: 30px;
    font-size: 22px;
    box-shadow: 0px 4px 30px $sidebarShadow;
    transition: all 0.2s ease-in-out;
    color: $sidebarEntry;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      box-shadow: none;

      background-color: $sidebarEntryActive;
      color: $sidebarEntryActiveText;
    }
    &.active {
      box-shadow: none;
      background-color: $sidebarEntryActive;
      color: $sidebarEntryActiveText;
    }
  }
}

.product-item-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  grid-gap: 30px;
  width: 100%;
  padding: 70px;
  margin: auto;
  margin-left: 250px;
  > .category-content-wrapper {
    justify-content: center;
  }
}
.product-wrapper {
  width: calc(100% - 10rem - 230px);
  .product-arrows {
    background-color: white;
    z-index: 2;
    padding: 0 20px;
    position: fixed;
    width: calc(100% - 10rem - 250px - 140px);
    display: flex;
    justify-content: space-between;
    margin-left: 320px;
    max-width: 1300px;
    .product-arrow-text {
      display: flex;
      align-items: center;
      font-size: 25px;
      color: $productNavigationText;
      font-weight: 500;
    }
    button {
      background-color: transparent;
      border-radius: 50%;
      border: 2px solid $productNavigationArrow;

      height: 44px;
      width: 44px;
      padding: 0px;
      transition: all 0.2s ease-in-out;
      svg {
        width: 40px !important;
        height: 40px !important;
      }
      &:hover {
        background-color: $productNavigationArrow;
        cursor: pointer;
        .arrow {
          path {
            fill: white;
          }
        }
      }
    }
    .arrow {
      path {
        fill: $productNavigationArrow;
      }
      height: 48px;
      width: 48px;
    }
  }
}
