$headerBackground: #e3f1eb;

$sidebarEntry: #1f865b;
$sidebarShadow: #63636326;
$sidebarEntryActive: #eefcf6;

$productNavigationArrow: #1f865b;
$productNavigationArrowHover: #15573b;
$productNavigationText: #1f865b;
$productNavigationTextHover: #15573b;

$individualProductBoxShadow: #6d6d6d2c;
$individualProductTitle: #1f1f1f;
$individualProductDescription: #afafaf;
$individualProductAddToBasket: #afafaf;
$individualProductAddToBasketHover: #1f865b;
$individualProductAddToBasketBackground: #ffff;
$individualProductQuantity: #1f1f1f;