html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0 5rem;
}

body > * {
  font-family: "Roboto", sans-serif;
}

.main {
  display: grid;
  padding-top: 260px;
  grid-template-columns: 1fr 3fr;
}
