html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0 5rem;
  max-width: 1700px;
}

body > * {
  font-family: "Gotham", sans-serif;
}

.main {
  display: flex;
  padding-top: 260px;
  min-height: 525px;
}

body::-webkit-scrollbar-track-piece:start {
  margin-top: 320px;
}

@media only screen and (min-width: 1860px) {
  #root {
    margin: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .header-wrapper .header {
    justify-content: flex-start;
  }
  .org-logo-wrapper {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 1039px) {
  .product-wrapper {
    display: flex;
    width: 100%;
    margin-left: 240px;
    justify-content: center;
  }
  .product-wrapper .product-arrows {
    margin-left: 0;
    min-width: 230px;
  }
  .product-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}

@media only screen and (max-width: 850px) {
  .header-wrapper .header .org-logo {
    font-size: 20px;
  }
  .header-wrapper .header .org-logo-subtitle {
    font-size: 13px;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 720px) {
  .header-wrapper {
    width: calc(100% - 9rem);
  }
}

@media only screen and (max-width: 450px) {
  .org-logo-wrapper {
    padding-left: 25px;
  }
  .header-wrapper .header .user-settings .user .user-name {
    font-size: 11px;
  }
  .header-wrapper .header .user-settings .user .user-logo {
    height: 20px;
    width: 20px;
    padding: 0 10px;
  }
}
